.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 2rem;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3, h2 {
  margin-bottom: 1rem;
}


button {
  margin: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #000;
  color: #fff;
}

button:active {
  background-color: #ccc;
  color: #000;
}